<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a73ab4fbdc.js" crossorigin="anonymous"></script>
    <title>Guild Battle</title>
</head>
<body>
<%- include("_header") %>
    <section>
        <!-- Section content... -->
    </section>
<%- include("_footer") %>
</body>
</html>